.card {
  display: flex;
  padding: 12px 0 20px 0;
}

.card__checkbox {
  align-self: center;
}

.card__img {
  margin: 0 16px 0 0;
}

.card__title {
  margin: 0 0 8px 0;
  font-family: $ff-segoe;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $color-default-black;
}

.card__properties {
  margin: 0 0 8px 0;
  display: flex;
  gap: 16px;
}

.card__property {
  font-family: $ff-segoe;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $color-default-black;
}

.card__stock {
  color: $color-spun-pearl;
  font-family: $ff-segoe;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  margin: 0 0 4px 0;
}

.card__manufacturer-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card__manufacturer-link {
  display: flex;
  align-items: center;
}

.card__manufacturer {
  color: $color-spun-pearl;
  font-family: $ff-segoe;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.card__text-container {
  margin-right: auto;
}

.card__amount-container {
  display: flex;
  flex-direction: column;
}

.card__counter {
  margin: 0 0 8px 0;
}

.card__amount-warning {
  color: $color-red-orange;
  font-family: $ff-segoe;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  margin-bottom: 16px;
}

.card__button-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.card__favorite {
  background-color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.card__favorite:hover .card__favorite-img {
  fill: $color-red-orange;
}

.card__delete {
  background-color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.card__delete:hover .card__delete-img {
  fill: $color-red-orange;
}
