.counter {
  display: flex;
  align-items: center;
  background-color: $color-default-white;

  width: 100px;
  height: 44px;
  border-radius: 8px;

  @media (max-width: 768px) {
    width: 80px;
    height: 32px;
  }
}

.counter__button {
  font-family: $ff-segoe;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;

  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0 8px;

  &--disabled {
    color: #cccccc;
  }
}



.counter__input {
  width: 100%;
  flex-grow: 1;
  border: 0;

  font-family: $ff-segoe;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  text-align: center;

  &:disabled {
    background-color: $color-default-white;
  }

  @media (max-width:768px) {
    font-size: 14px;
    line-height: 20px;
  }
}
