.no-avalible__title {
  font-family: $ff-segoe;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  margin: 0;
}

.no-avalible__setting-container {
  display: flex;
  justify-content: space-between;

  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.no-avalible__show-button {
  border: 0;
  margin: 0;
  padding: 0;

  background-image: url("../img/svg/product-list-open.svg");
  width: 20px;
  height: 20px;

  background-color: inherit;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.no-avalible__show-button--close {
  background-image: url("../img/svg/product-list-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}
