.payment-total__type {
  font-family: $ff-segoe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

  margin: 0;
}

.payment-total__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-total__type-setting-button{
  border: 0;
  padding: 0;
  margin: 0;
  background-color: inherit;
}

.payment-total__moment {
  padding: 8px 8px 12px 8px;
  background-color: $ghost-white;
}

.payment-total__moment-text {
  font-family: $ff-segoe;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  align-self: center;
}

.payment-total__description {
  font-family: $ff-segoe;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.payment-total__checkbox{
  margin-bottom: 10px;
}
