.product__title {
  font-family: $ff-segoe;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;

  margin: 15px 0 26px 0;

  @media (max-width:1000px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (max-width:768px) {
    font-size: 20px;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;

    margin: 0 0 10px 0;
  }
}

.product__settings-container {
  display: flex;
  justify-content: space-between;

  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (max-width:1000px) {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 17px;
  }
}


.product__show-button {
  border: 0;
  margin: 0;
  padding: 0;

  background-image: url("../img/svg/product-list-open.svg");
  width: 20px;
  height: 20px;

  background-color: inherit;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.product__show-button--close {
  background-image: url("../img/svg/product-list-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product__card-container {
  margin-bottom: 35px;

  @media (max-width:1000px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.product__card-container-no-avalible {
  margin-bottom: 18px;

  @media (max-width:1000px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
