.refund {
  display: flex;
  padding: 8px 8px 12px 8px;
  align-items: center;
  gap: 8px;
}
.refund__text {
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px
}

.refund__link {
  color: $color-mountain-meadow;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-image: url("../img/svg/underline-sber.svg");
    bottom: -3px;
    left: 0;
    position: absolute;
  }
}

.refund__link:hover .refund__describe {
  display: block;
}

.refund__describe {
  display: none;
  padding: 10px 16px 14px 16px;
  width: 288px;
  border-radius: 8px;
  background-color: $color-default-white;
  left: -140px;

  position: absolute;
}

.refund__describe-text {
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $color-default-black;
}
