.total {
  padding: 16px 24px 24px 24px;
  background-color: $color-default-white;
  border-radius: 16px;
  height: min-content;
  // display: flex;
  // flex-direction: column;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);

  @media (max-width: 1000px) {
    background-color: $ghost-white;
    box-shadow: none;
  }

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.total__price-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $ff-segoe;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.total__price-inner-container--first {
  margin-bottom: 8px;
}

.tolal__title {
  font-family: $ff-segoe;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;

  margin: 0;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}

.total__price {
  font-family: $ff-segoe;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}

.total__price-currency{
  font-family: $ff-segoe;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}

.total__price-container {
  margin-bottom: 26px;
}

.total__buy {
  height: min-content;
  width: 100%;

  margin-bottom: 10px;
}



